/* colour theme */
:root {
/* CSS HEX */
--reseda-green: #797d62ff;
--moss-green: #9b9b7aff;
--khaki: #baa587ff;
--desert-sand: #d9ae94ff;
--peach-yellow: #f1dca7ff;
--sunglow: #ffcb69ff;
--earth-yellow: #e8ac65ff;
--persian-orange: #d08c60ff;
--chamoisee: #b58463ff;
--beaver: #997b66ff;
}

/* catered towards mobile view */

/* default styling for entire doc */
* {
    margin: 0;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 400 bold;
    font-style: normal;
}

/* all body styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--desert-sand);
}

/* header styling */
header {
    background-color: var(--beaver);
    height: 6.5dvh;
    width: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* navbar in header styling */
nav {
    margin: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    text-decoration: none;
    background-color: var(--peach-yellow);
    color: black;
    margin: 0.1em;
    border-radius: 1em;
    width: 19.5dvw;
    height: 5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
}

/* navbar hover styling */

nav > a:hover {
    background-color: var(--sunglow);
    margin-bottom: 1.5dvh;
    border: 0.2em solid var(--earth-yellow);
}

/* footer styling */
footer {
    background-color: var(--beaver);
    height: 5dvh;
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
	align-items: center;
	align-self: flex-end;
}

/* main styling */
main {
    min-height: 88.5dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    row-gap: 0.5em;
}

/* default img styling */
.img {
    height: 30dvh;
    width: auto;
    max-width: 85dvw;
    object-fit: contain;
    border-radius: 0.7em;
}

/* home and contact img animation */
.home, 
.contact {
    animation: bounceInRight 1s;
}

.about {
    animation: slideInDown 1s;
}

/* projects and blogs img styling */
.project,
.blog {
    height: auto;
    max-height: 30dvh;
    width: auto;
    max-width: 80dvw;
    animation: zoomIn 1s;
}

/* individual project img styling */
.project1,
.project2,
.project3 {
    border: 0.2em solid black;
    animation: fadeInDown 1s;
}

/* default button styling */
.button {
    border-color: black;
    border-radius: 0.7em;
    background-color: var(--persian-orange);
    padding: 0.7dvh;
    font-size: medium;
    width: 6em;
    animation: bounceInLeft 1s;
    box-shadow: 0.3em 0.3em 0.1em;
}

button > a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projindiv-links {
    width: 22em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.projindiv-button {
    width: 10em;
}

.disabled {
    border-radius: 0.7em;
    font-size: medium;
    padding: 0.7dvh;
    animation: bounceInLeft 1s;
    box-shadow: 0.3em 0.3em 0.1em;
}

/* button hover styling */
.button:hover {
    background-color: var(--chamoisee);
    box-shadow: none;
    margin-top: 0.2em;
    margin-left: 0.2em;
    box-shadow: 0.1em 0.1em 0.1em;
}

/* about, project and blog section styling */
.blogpost,
.projectpreview,
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    margin: 1.5em;
    padding: 1em;
    border-radius: 2.5em;
    background-color: var(--moss-green);
    filter: drop-shadow(0.6em 0.6em 0.4em var(--reseda-green));
    max-width: 85dvw;
    min-height: 20dvh;
}

.about-section {
    max-width: 60dvw;
}

.about-section > ul {
    text-align: left;
}

/* about page img in personal life styling */
figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30dvw;
}

.personal {
    height: auto;
    width: 100%;
    border-radius: 1em; 
    margin: 0.3em;
}

/* contact me styling */
.contact-indiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    width: 9em;
}

.contact-icons {
    height: 2em;
}

/* about, blog and project section hover styling */
.blogpost:hover,
.projectpreview:hover,
.about-section:hover {
    transition: 1s;
    border-radius: 0;
}