:root {
/* CSS HEX */
--reseda-green: #797d62ff;
--moss-green: #9b9b7aff;
--khaki: #baa587ff;
--desert-sand: #d9ae94ff;
--peach-yellow: #f1dca7ff;
--sunglow: #ffcb69ff;
--earth-yellow: #e8ac65ff;
--persian-orange: #d08c60ff;
--chamoisee: #b58463ff;
--beaver: #997b66ff;
}